<div class="container">
  <div class="row">
    <label>
      <input class="form-control" type="text" (input)="onUpdateServerName($event)">
      <!--<input class="form-control" type="text" [(ngModel)]="serverName">-->
      <!--<p>{{serverName}}</p>-->
    </label>
    <div class="col-lg-6">
      <button class="btn btn-primary" [disabled]="allowNewServer"
              (click)="OnServerCreated()"
      >add new server
      </button>
      <!--<p>{{serverCreationStatus}}</p>-->
      <p *ngIf="serverCreated">{{serverCreationStatus}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-server></app-server>
    </div>
    <div class="col-lg-6">
      <app-server></app-server>
    </div>
  </div>
</div>
